body {
    font-family: helvetica, arial, sans-serif;
    color: #3D3D3D;
  }
  
  h1 {

    font-style: italic;
    color: #FF6F00;
  }
  
  video {
   
    display: block;
  }
  
  section {
    
    opacity: 1;
    transition: opacity 500ms ease-in-out;
  }

  .removed {
    display: none;
  }
  
  .invisible {
    opacity: 0.2;
  }

  
  .camView {
    width: calc(100% - 20px);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .highlighter p {
    font-size: 24px;
    color: #FF6F00;
    font-family: fantasy;
  }
  
  .highlighter {
   text-align: center;
    
  }
  .stopdiv{
    text-align: center;
  }
  #stopbtn{
    
    padding: 4px;
    font-size: 18px;
    color: red;
  }